# JWT Secret for authentication
JWT_SECRET="super-secret-abscuss-key"
# MongoDB Atlas Connection URI
MONGODB_URI="mongodb+srv://<username>:<password>@cluster.mongodb.net/abscuss?retryWrites=true&w=majority"
